rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{document=**} {
      allow read, create, update, delete: if isAdmin();
    }

    match /transactions/{document=**} {
      allow read: if isStaff();
      allow create, update, delete: if isAdmin();
    }

    match /products/{document=**} {
      allow read;
      allow create, update, delete: if isAdmin();
    }

    match /ingredients/{document=**} {
      allow read;
      allow create, update, delete: if isAdmin();
    }

    match /stats/{document=**} {
      allow read, create, update, delete: if isAdmin();
    }

    function isLoggedIn() {
      return request.auth != null;
    }

    function isStaff() {
      return isLoggedIn() && get(/databases/$(database)/documents/accounts/$(request.auth.uid)).data.isStaff == true && get(/databases/$(database)/documents/accounts/$(request.auth.uid)).data.isAvailable == true;
    }

    function isAdmin() {
      return isStaff() && get(/databases/$(database)/documents/accounts/$(request.auth.uid)).data.isAdmin == true;
    }
  }
}