rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{document=**} {
      allow read, create, update: if isStaff();
      allow delete: if isAdmin();
    }

    match /transactions/{document=**} {
      allow read, create, update: if isStaff();
      allow delete: if isAdmin();
    }

    match /products/{document=**} {
      allow read: if isStaff();
      allow create, update, delete: if isAdmin();
    }

    match /ingredients/{document=**} {
      allow read: if isStaff();
      allow create, update, delete: if isAdmin();
    }

    match /staffs/{document=**} {
      allow read: if isStaff();
      allow create, update: if isAdmin();
      allow delete: if false;
    }

    match /stats/{document=**} {
      allow read, create, update, delete: if isAdmin();
    }

    function isLoggedIn() {
      return request.auth != null;
    }

    function isStaff() {
      return isLoggedIn() && exists(/databases/$(database)/documents/staffs/$(request.auth.uid));
    }

    function isAdmin() {
      return isStaff() && get(/databases/$(database)/documents/staffs/$(request.auth.uid)).data.isAdmin == true;
    }
  }
}